<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" period="10 seconds">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>
                %date{yyyy-MM-dd HH:mm:ss} %-5level %logger{0} %msg in [%thread]%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/$SERVICE_NAME/$SERVICE_NAME.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/$SERVICE_NAME/$SERVICE_NAME-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>
                %date{yyyy-MM-dd HH:mm:ss} %-5level %logger{0} %msg in [%thread]%n
            </pattern>
        </encoder>

    </appender>


    <logger name="akka" level="DEBUG"/>
    <logger name="akka._" level="DEBUG"/>
    <logger name="reactivemongo" level="INFO"/>
    <logger name="reactivemongo._" level="INFO"/>
    <logger name="KafkaConsumer" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>